{% extends "/layout.html" %}

{% block styles %}{% endblock %}

{% block body %}
<div id="content" class="cf contact interior">

	<div class="content-wrap">  
	    <div id="text-block" class="box">
			<h1>Contact</h1>
			<p>For more information regarding this project please contact <a target="_blank" rel="nofollow" href="mailto:rachel@cyclingrachelsmith.com">Rachel Smith</a> or visit her blog at <a target="_blank" rel="nofollow" href="http://www.cyclingrachelsmith.com/">cyclingrachelsmith.com</a></p>
		</div><!-- /#text-block -->

	</div><!-- /.content-wrap -->
</div>

<div id="form_please_select_msg" style="display:none;">{{content.get('cyclist_type_form_error')}}</div>

{% endblock %}

{% block scripts %}
{% endblock %}
