{% extends "/layout.html" %}

{% block styles %}
<link href="/static/css/cartodb-gmapsv3.css" rel="stylesheet" type="text/css" />
<link  href="http://code.google.com/apis/maps/documentation/javascript/examples/default.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}

<div id="content" class="cf interior">

	
	<div class="content-wrap" id="mapFrameContainer">
		<div id="text-block" >
			<h1>
				{% if surveyGuest %}
				{{content.get('survey_thank_you')|safe}}
				{% else %}
				{{content.get('map_page_title')|safe}}
				{% endif %}
			</h1>
			<p>{{content.get('map_page_description')|safe}}</p>
			<select id="map_selection"></select>
		</div>
		<div id="map" style="width:100%;height:350px;"></div>

	</div>
</div>
{% endblock %}


{% block scripts %}
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=drawing" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/libs/wax.g.min-6.2.0-touched.js"></script>
<script type="text/javascript" src="/static/js/libs/cartodb-gmapsv3-min.js"></script>



<script type="text/javascript">
   

	var cartoQueries = {};

	cartoQueries.cycling_friendly = {
		label : "{{content.get('map_page_title')|safe}}.",
		query : "SELECT * FROM dynamicconnections_bmwguggenheimlab",
		style : "#dynamicconnections_bmwguggenheimlab {line-width:5;line-opacity:0.35;line-color:orange;[is_the_gradient_amenable_to_cycling='yes']{line-color:#00bb00}[is_the_gradient_amenable_to_cycling='no']{line-color:#f00}}"
	};

	cartoQueries.cycling_friendly_yes = {
		label : "{{content.get('map_cycle_friendly')}}",
		query : "SELECT * FROM dynamicconnections_bmwguggenheimlab where is_the_gradient_amenable_to_cycling='yes'",
		style : "#dynamicconnections_bmwguggenheimlab {line-width:5;line-opacity:0.35;line-color:orange;[is_the_gradient_amenable_to_cycling='yes']{line-color:#00bb00}[is_the_gradient_amenable_to_cycling='no']{line-color:#f00}}"
	};

	cartoQueries.cycling_friendly_no = {
		label : "{{content.get('map_cycle_friendly_no')}}",
		query : "SELECT * FROM dynamicconnections_bmwguggenheimlab where is_the_gradient_amenable_to_cycling='no'",
		style : "#dynamicconnections_bmwguggenheimlab {line-width:5;line-opacity:0.35;line-color:orange;[is_the_gradient_amenable_to_cycling='yes']{line-color:#00bb00}[is_the_gradient_amenable_to_cycling='no']{line-color:#f00}}"
	};


	cartoQueries.good_access = {
		label : "{{content.get('map_good_access')}}",
		query : "SELECT * FROM dynamicconnections_bmwguggenheimlab where link_to_destinations='yes'",
		style : "#dynamicconnections_bmwguggenheimlab {line-width:5;line-opacity:0.35;line-color:#00bb00;}"
	};

	cartoQueries.safe_intersections = {
		label : "{{content.get('map_safe_intersections')|safe}}",
		query : "SELECT * FROM dynamicconnections_bmwguggenheimlab where street_offers_priority_through_intersections='safe'",
		style : "#dynamicconnections_bmwguggenheimlab {line-width:5;line-opacity:0.35;line-color:#00bb00;}"
	};
	

	cartoQueries.happy_streets = {
		label : "{{content.get('map_happy_streets')|safe}}",
		query : "SELECT * FROM dynamicconnections_bmwguggenheimlab where how_do_you_feel='happy'",
		style : "#dynamicconnections_bmwguggenheimlab {line-width:5;line-opacity:0.35;line-color:#00bb00;}"
	};

	cartoQueries.stressed_streets = {
		label : "{{content.get('map_stressful_streets')|safe}}",
		query : "SELECT * FROM dynamicconnections_bmwguggenheimlab where how_do_you_feel='stressed'",
		style : "#dynamicconnections_bmwguggenheimlab {line-width:5;line-opacity:0.35;line-color:#cc0000;}"
	};
	
	var cartodb_gmapsv3, map;

	jQuery(document).ready(function(){
		map = new google.maps.Map(document.getElementById('map'), {
		  center: new google.maps.LatLng(52.532408, 13.41152),
		  zoom: 3,
		  mapTypeId: google.maps.MapTypeId.ROADMAP,
		  mapTypeControl: false
		});

		map_style = [ { stylers: [ { saturation: -1 }, { gamma: 1.00 } ] }, { featureType: "administrative", stylers: [ { saturation: -10 },{ gamma: 2.26 } ] }, { featureType: "water", elementType: "labels", stylers: [ { visibility: "off" } ] }, { featureType: "administrative.locality", stylers: [ { visibility: 'on' } ] }, { featureType: "road", stylers: [ { visibility: "simplified" }, { saturation: -20 }, { gamma: 1.89 } ] }, { featureType: "poi", elementType: "labels", stylers: [ { visibility: "on" } ] }, { featureType: "road.arterial", stylers: [ { visibility: 'on' } ] }, { featureType: "road.local", elementType: "labels", stylers: [ { visibility: 'on' } ] }, { featureType: "transit", stylers: [ { visibility: 'on' } ] }, { featureType: "road", elementType: "labels", stylers: [ { visibility: 'on' } ] },{ featureType: "poi", stylers: [ { saturation: -55 } ] } ];

		map.setOptions({styles: map_style});

		cartodb_gmapsv3 = new CartoDBLayer({
		  map: map,
		  user_name:'johnschimmel',
		  table_name: 'dynamicconnections_bmwguggenheimlab',
		  query: cartoQueries.cycling_friendly.query,
		  layer_order: "top",
		  tile_style: cartoQueries.cycling_friendly.style,
		  interactivity: "cartodb_id",
		  featureClick: function(ev, latlng, pos, data) {},
		  featureOver: function(ev, latlng, pos, data) {},
		  featureOut: function() {},
		  auto_bound: true
		});

		jQuery.each(cartoQueries, function(id, obj){
			var tmpOpt = "<option value='"+id+"'>"+obj.label+"</option>";
			jQuery('select#map_selection').append(tmpOpt);
		})

		jQuery('select#map_selection').on('change', function(e){
			displayQuery(jQuery(this).val());
		});

	});

	var displayQuery = function(cartoQueryId) {
		cartoQueryObj = cartoQueries[cartoQueryId];
		cartodb_gmapsv3.setStyle(cartoQueryObj.style);
		cartodb_gmapsv3.setQuery(cartoQueryObj.query);
		
		//weird ipad setzoom to fix layers that do not show when selection is changed.
		prevZoom = map.getZoom();
		map.setZoom(prevZoom);
		setTimeout(function(){map.setZoom(prevZoom);}, 1000);
	}


	var currentOption = 0;
	var automaticPlay = function() {
		var tid = setInterval(triggerFromSelect, 5000);
	}
	
	function triggerFromSelect() {
	    var opts = jQuery('select#map_selection option');
	    
	    jQuery(opts[currentOption]).attr('selected', 'selected').trigger('change');
	    
	    if (currentOption < jQuery('#map_selection option').length) {
	        currentOption=currentOption+1;
	    } else {
	        currentOption = 0;
	    }
	}
	function abortTimer() { // to be called when you want to stop the timer
	  clearInterval(tid);
	}


</script>


{% endblock %}