{% extends "/layout.html" %}

{% block styles %}
<link href="/static/css/cartodb-gmapsv3.css" rel="stylesheet" type="text/css" />
<link  href="http://code.google.com/apis/maps/documentation/javascript/examples/default.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}

<div id="content" class="cf interior">

	
	<div class="content-wrap" id="mapFrameContainer">
		<div id="text-block" >
			<select id="map_selection">

			</select>
			

		</div>

		


		<div id="map" style="width:100%;height:350px;"></div>

	</div>
</div>
{% endblock %}


{% block scripts %}
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=drawing" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/libs/wax.g.min-6.2.0-touched.js"></script>
<script type="text/javascript" src="/static/js/libs/cartodb-gmapsv3-min.js"></script>



<script type="text/javascript">
   

	var cartoQueries = {};

	cartoQueries.cycling_friendly = {
		label : "Cycle friendly streets",
		query : "SELECT * FROM dynamicconnections_live",
		style : "#dynamicconnections_live {line-width:5;line-opacity:0.35;line-color:orange;[is_the_gradient_amenable_to_cycling='yes']{line-color:#00bb00}[is_the_gradient_amenable_to_cycling='no']{line-color:#f00}}"
	};

	cartoQueries.cycling_friendly_yes = {
		label : "Cycle friendly streets - Yes",
		query : "SELECT * FROM dynamicconnections_live where is_the_gradient_amenable_to_cycling='yes'",
		style : "#dynamicconnections_live {line-width:5;line-opacity:0.35;line-color:orange;[is_the_gradient_amenable_to_cycling='yes']{line-color:#00bb00}[is_the_gradient_amenable_to_cycling='no']{line-color:#f00}}"
	};

	cartoQueries.cycling_friendly_no = {
		label : "Cycle friendly streets - No",
		query : "SELECT * FROM dynamicconnections_live where is_the_gradient_amenable_to_cycling='no'",
		style : "#dynamicconnections_live {line-width:5;line-opacity:0.35;line-color:orange;[is_the_gradient_amenable_to_cycling='yes']{line-color:#00bb00}[is_the_gradient_amenable_to_cycling='no']{line-color:#f00}}"
	};


	cartoQueries.good_access = {
		label : "Good Access",
		query : "SELECT * FROM dynamicconnections_live where link_to_destinations='yes'",
		style : "#dynamicconnections_live {line-width:5;line-opacity:0.35;line-color:#00bb00;}"
	};

	cartoQueries.safe_intersections = {
		label : "Safe Intersections",
		query : "SELECT * FROM dynamicconnections_live where street_offers_priority_through_intersections='safe'",
		style : "#dynamicconnections_live {line-width:5;line-opacity:0.35;line-color:#00bb00;}"
	};
	

	cartoQueries.happy_streets = {
		label : "Happy streets",
		query : "SELECT * FROM dynamicconnections_live where how_do_you_feel='happy'",
		style : "#dynamicconnections_live {line-width:5;line-opacity:0.35;line-color:#00bb00;}"
	};

	cartoQueries.stressed_streets = {
		label : "Stressed streets",
		query : "SELECT * FROM dynamicconnections_live where how_do_you_feel='stressed'",
		style : "#dynamicconnections_live {line-width:5;line-opacity:0.35;line-color:#cc0000;}"
	};
	
	var cartodb_gmapsv3, map;

	jQuery(document).ready(function(){
		map = new google.maps.Map(document.getElementById('map'), {
		  center: new google.maps.LatLng(52.532408, 13.41152),
		  zoom: 3,
		  mapTypeId: google.maps.MapTypeId.ROADMAP,
		  mapTypeControl: false
		});

		cartodb_gmapsv3 = new CartoDBLayer({
		  map: map,
		  user_name:'johnschimmel',
		  table_name: 'dynamicconnections_live',
		  query: cartoQueries.cycling_friendly.query,
		  layer_order: "top",
		  tile_style: cartoQueries.cycling_friendly.style,
		  interactivity: "cartodb_id",
		  featureClick: function(ev, latlng, pos, data) {},
		  featureOver: function(ev, latlng, pos, data) {},
		  featureOut: function() {},
		  auto_bound: true
		});

		jQuery.each(cartoQueries, function(id, obj){
			var tmpOpt = "<option value='"+id+"'>"+obj.label+"</option>";
			jQuery('select#map_selection').append(tmpOpt);
		})

		jQuery('select#map_selection').on('change', function(e){
			displayQuery(jQuery(this).val());
		});

	});

	var displayQuery = function(cartoQueryId) {
		cartoQueryObj = cartoQueries[cartoQueryId];
		cartodb_gmapsv3.setStyle(cartoQueryObj.style);
		cartodb_gmapsv3.setQuery(cartoQueryObj.query);
		
		//weird ipad setzoom to fix layers that do not show when selection is changed.
		prevZoom = map.getZoom();
		map.setZoom(prevZoom);
		setTimeout(function(){map.setZoom(prevZoom);}, 1000);
	}



</script>


{% endblock %}