{% extends "/layout.html" %}

{% block styles %}{% endblock %}

{% block body %}
	<br><br><br><br>
	<div class="row">

		<div id="left" class="column span6">
			<h2>{{ texts.mainpage_welcome|safe }}</h2>
			<div id="survey_status"></div>

			<div id="question_container">
				<div id="question_title"></div>
				<div id="choices" class="controls"></div>
				<div id="buttonContainer">
					
				</div>
			</div>

			<div id="thankyou" class="hide">
				<h2>Thank you for taking the survey.</h2>
				<iframe width="420" height="315" src="http://www.youtube.com/embed/Vdto2MAsU0s" frameborder="0"></iframe>
			</div>
		</div>
	
		<div class="span6 column">
			<div id="map_canvas" style="height:350px;"></div>
			
			<hr>
			<div id="answer_container"></div>
		</div>
	
	</div>


{% endblock %}


{% block scripts %}
<script src="http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js"></script>

{% raw %}


<script type="text/template" id="survey_status_template">
<h1>{{title}}</h1>
<h4>Question {{currentPosition}} of {{ totalNumQuestions }}</h4>
</script>


<script type="text/template" id="question_title_template">
<h3>{{question}}</h3>
<p>{{description}}</p>
</script>

<script type="text/template" id="question_choice_template">
<label class="question_choice radio">
	<input type="radio" class="question_choice_radio" name="question_choice" value="{{value}}" data-action="{{action.goto}}">
	{{choice}}
</label>
</script>

<script type="text/template" id="geoselection_container_template">
<div><p>{{selection}}</p></div>
</script>

<script type="text/template" id="button_controls_template">
	<button class="btn hide backButton" disabled="disabled">Back</button>
	<button class="btn continueButton" disabled="disabled" >Continue</button>
</script>

<script type="text/template" id="answer_container_template">
<div class="answer" id="{{id}}">
	<span class="answer_question_label">{{questionLabel}}</span><br>
	<span class="answer_user_response">{{answer.text}}</span>
	<br><br>
</div>
</script>


{% endraw %}

<script src="{{ url_for('static', filename='js/map.js') }}"></script>
<script src="{{ url_for('static', filename='js/survey.js') }}"></script>
<script type="text/javascript">
	var survey;
	var map;
	jQuery(document).ready(function(){
		initialize();
		survey = new surveyApi();
		survey.load('survey.json');
	})

</script>


{% endblock %}
