{% extends "/layout.html" %}

{% block styles %}{% endblock %}

{% block body %}
<div id="content" class="cf interior">
	<div class="content-wrap">

		<div id="text-block">
			<div id="question">
				<div id="survey_status"></div>

				<div id="question_container">
					<div id="question_title"></div>
					<div id="choices" class="controls"></div>
					<div id="buttonContainer">
						
					</div>
				</div>

				<div id="thankyou" class="hide" style="display:none;">
					<h2>{{content.get('survey_thank_you')|safe}}</h2>
					<iframe width="420" height="315" src="http://www.youtube.com/embed/Vdto2MAsU0s" frameborder="0"></iframe>
				</div>
			</div>
		
			<div id="map">
				<div id="canvas" style="height:350px;"></div>
				<div id="resetButtonContainer">
					<a href="#" id="resetMarkers" style="display:none;">reset map - clear markers</a>
				</div>
				<div id="answer_container"></div>
			</div>
		</div>
	
	</div><!-- content-wrap -->
</div><!-- / content -->

{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='js/libs/underscore.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/backbone.js') }}"></script>
<script src="{{ url_for('static', filename='js/models.js') }}"></script>
<script src="{{ url_for('static', filename='js/collections.js') }}"></script> 
<script src="{{ url_for('static', filename='js/views.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBaRo2YQPaE38erga3ijdF3y_-O84semsw&sensor=false"></script>
  
<script src="http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js"></script>


<script type="text/template" id="button_controls_template">
	<!--<button class="btn hide backButton" disabled="disabled">Back</button>-->
	<div class="center"><input type="submit" value="{{content.get('survey_continue_button')}}" disabled="disabled" class="button continueButton" /></div>
</script>

{% raw %}


<script type="text/template" id="survey_status_template">
<span class="question-number">Question <strong>{{currentPosition}}</strong> of {{ totalNumQuestions }}</span>
</script>


<script type="text/template" id="question_title_template">
<h3>{{question}}</h3>
<p>{{description}}</p>
</script>

<script type="text/template" id="question_choice_template">
<label class="question_choice radio">
	<input type="radio" class="question_choice_radio" name="question_choice" value="{{value}}" data-action="{{action.goto}}">
	{{choice}}
</label>
</script>

<script type="text/template" id="geoselection_container_template">
<div><p>{{selection}}</p></div>
</script>



<script type="text/template" id="answer_container_template">
<div class="answer" id="{{id}}">
	<span class="answer_question_label">{{questionLabel}}</span><br>
	<span class="answer_user_response">{{answer.text}}</span>
	<br><br>
</div>
</script>


{% endraw %}

<script src="{{ url_for('static', filename='js/map.js') }}"></script>
<script src="{{ url_for('static', filename='js/survey.js') }}"></script>
<script type="text/javascript">
	var survey;
	var map;
	jQuery(document).ready(function(){
		initialize();
		survey = new surveyApi();
		survey.setLanguage('{{session['language']}}');
		survey.load('survey.json');
	})

</script>


{% endblock %}
