/* This code is copyright Dave Dawson 2012 
   Please don't steal. Just ask! :) --- */
/* RESET */
/* YUI Reset version: 2.7.0 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset,img { border: 0; }
address,caption,cite,code,dfn,em,strong,th,var,optgroup { font-style: inherit; font-weight: inherit; }
del,ins { text-decoration: none; }
li { list-style: none; }
caption, th { text-align: left; }
h1,h2,h3,h4,h5,h6 {	font-size: 100%; font-weight: normal; }
q:before, q:after {	content: ''; }
abbr,acronym { border: 0; font-variant: normal; }
sup { vertical-align: baseline; }
sub { vertical-align: baseline; }
/*because legend doesn't inherit in IE */
legend { color: #000; }
input,button,textarea,select,optgroup,option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
input,button,textarea,select { *font-size: 100%; }


/* Commons  */
html { background: #e6e6e6; margin: 0; padding: 0; min-height: 100%; height: 100%;  }
body { font-family: "ff-tisa-web-pro", Georgia, Times, serif; color: #555; min-width: 800px; }
a, a:visited { text-decoration: underline; color: #00adeb; }
a:hover { text-decoration: none; }
strong { font-weight: bold; text-transform: ; }

/* Header */
#header { background: #fff; padding: 10px; border-bottom: 2px solid #e6e6e6; }
.content-wrap { width: 800px; margin: 0 auto; padding: 0 15px; display: block; }
#header #logo { float: left; }
#header #logo img { width: 400px; }
#header #navigation { float: right; margin-top: 26px; font-family: "futura-pt", Helvetica, Arial, sans-serif; width: 400px;}
#header #navigation a { text-transform: uppercase; text-decoration: none; color: #393536; font-size: 16px; letter-spacing: 0.1em; font-weight: 900;}
#header #navigation ul li { float: right; display: block; margin: 0 0 0 20px; }
#header .wrapper { width: 960px; }
#header #flags { float: right; position: relative; left: 0px; top: -50px;}


/* Content Area */
#content { background: #eef0f3; padding: 30px 0;}
h1 { font-size: 42px; text-align: center; color: #555; margin-bottom: 20px; font-family: "ff-tisa-web-pro", Georgia, Times, serif; }
h2 { font-size: 20px; font-weight: 700; margin-bottom: 5px; font-family: "futura-pt", Helvetica, Arial, sans-serif; }
h3 { font-family: "ff-tisa-web-pro", Georgia, Times, serif; font-size: 1.2em; font-weight: 100; line-height: 1.45em; margin-bottom: 10px;}


.button { padding: 6px 7px 4px; color: #fff; text-transform: uppercase; letter-spacing: 0.1em; font-size: 20px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;	border: 2px solid #8c8c8c; -moz-box-shadow: 0px 1px 0px rgba(000,000,000,0), inset 0px 1px 1px rgba(255,255,255,0.7); -webkit-box-shadow: 0px 1px 0px rgba(000,000,000,0), inset 0px 1px 1px rgba(255,255,255,0.7); font-family: "futura-pt", Helvetica, Arial, sans-serif; background: -moz-linear-gradient(top, #cccccc 0%,	#b3b3b3); background: -webkit-gradient(	linear, left top, left bottom, from(#cccccc), to(#b3b3b3)); }
.button:hover { background: -moz-linear-gradient(top, #e2e2e2 0%,	#c2c2c2); background: -webkit-gradient(	linear, left top, left bottom, from(#e2e2e2), to(#c2c2c2)); cursor: pointer; }
.button.btn-success { background: -moz-linear-gradient(top, #66ccee 0%, #14afe7); background: -webkit-gradient( linear, left top, left bottom, from(#66ccee),	to(#14afe7)); border: 2px solid #007ca9; }
.button.btn-success:hover { background: -moz-linear-gradient(top, #73d0f2 0%, #2ebced); background: -webkit-gradient( linear, left top, left bottom, from(#73d0f2),	to(#2ebced)); border: 2px solid #007ca9; }

/* QUESTIONS */

/* Intro Question */
#content.landing label, #content.landing input[type=text] { margin: 20px auto; padding: 15px; background: #f8f9fa; border-radius: 8px; border: 1px solid #e6e6e6; width: 80%; display: block; color: #555; line-height: 1.4em; transition: background .3s, color .3s; -moz-transition: background .3s, color .3s; -webkit-transition: background .3s, color .3s; -o-transition: background .3s, color .3s; }
#content.landing label, #content.landing input[type=text]:focus { color: #333; }
#content.landing label, #content.landing input[type=email] { margin: 20px auto; padding: 15px; background: #f8f9fa; border-radius: 8px; border: 1px solid #e6e6e6; width: 80%; display: block; color: #555; }

/* Question 1 */
#resetMarkers { font-family: "futura-pt", Helvetica, Arial, sans-serif; }
/*transition: background. color .25s ease-in-out; -moz-transition: background .25s ease-in-out; -webkit-transition: background .25s ease-in-out; */

#content.landing input[type=radio] { position: absolute; left: -10000px; }
#content.landing input[type=radio] + label, #content.interior label { color: #777; }
#content.interior label { font-size: 1.3em; }
#content.landing input[type=radio]:checked + label, #content.interior input[type=radio]:checked { border: 1px solid #ccc; background: #2d4a85; color: #eee; } /* eaebeb*/
#content.landing input[type=radio]:hover + label, #content.interior label:hover { border: 1px solid #ddd; background: #415d96; color: #eee; } /* f1f3f4 */
#content.landing input[type=text] { font-size: 26px; color: #b7b7b7; }
#content.landing input[type=email] { font-size: 26px; color: #b7b7b7; }
#content.landing p { color: #666; font-family: georgia, times, serif; }
#content.landing .center  { margin: 0 auto; width: 130px; }
#choices { margin-top: 20px; font-weight: bold; font-family: "futura-pt", Helvetica, Arial, sans-serif; }
#choices .question_choice.radio { display: block; margin: 10px; background: #f8f9fa; border-radius: 8px; border: 1px solid #e6e6e6; margin: 20px auto; padding: 15px; }

/* Previous Answers */
#map #answer_container .answer_question_label { color: #777; font-size: 0.9em; line-height: 1.35em; display: block; }
#map #answer_container .answer_user_response { font-family: "futura-pt", Helvetica, Arial, sans-serif; margin: 0 0 10px 0; display: block; font-size: 1.1em; font-weight: 500;}

/* Additional Questions */
.interior #question { float: left; width: 350px; margin-right: 30px; }
.interior #question .question-number { font-size: 0.8em; font-family: "futura-pt", Helvetica, Arial, sans-serif; text-transform: uppercase; margin-bottom: 10px; display: block; }
.interior #question p { font-family: "futura-pt", Helvetica, Arial, sans-serif; font-size: 1.2em; line-height: 1.4em; }
.interior #map {  width: 413px; float: right; }
.interior #canvas { width: 413px; height: 413px; background: #000; border-radius: 8px; -moz-border-radius: 8px;	-webkit-border-radius: 8px; border: 1px solid #c8c7c9; -webkit-box-shadow:  0px 0px 5px 0px rgba(, 0, 0, 0.1);  box-shadow:  0px 0px 5px 0px rgba(, 0, 0, 0.1); margin-bottom: 10px; }
.interior #question .button { margin-top: 20px; }
.interior #map .biker-type { text-transform: uppercase;	font-family: "futura-pt", Helvetica, Arial, sans-serif; }
.interior #map .biker-type strong { text-transform: none; }


/* Footer */
#footer { background: #e6e6e6; padding: 40px; text-align: center; color: #666; }
#footer a { color: #666; text-decoration: underline; }




/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px)
and (max-device-width : 1024px)  
and (orientation : portrait) 
{
	
.interior #question, #map #answer_container { width: 768px; font-size: 1.5em; margin-bottom: 60px; }
.button { font-size: 1.3em; }
#map { clear: both; float: none; }
.interior #map { width: 700px; height: 700px; display: block; margin: 30px auto; clear: both; margin-top: 30px; float: none; }
.interior #canvas { width: 700px; height: 700px; }
}






/* Clearfix For modern browsers */
.cf:before, .cf:after { content:""; display:table; }
.cf:after { clear:both; }
/* For IE 6/7 (trigger hasLayout) */
.cf { *zoom:1; }