<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="icon" href="" type="image/png" />

  <title>{% if content %}{{content.get('title_dynamic_connections')}}{% endif %}</title>
  <meta name="description" content="">

  <script type="text/javascript" src="http://use.typekit.com/rjd6zeg.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}?v=1.0.5">
  {% block styles %}{% endblock %}

  
</head>
<body class="{{session.get('language')}}">
<div id="wrap">
    <div id="header" class="cf">
        <div class="content-wrap">
          <div id="logo"><img src="/static/img/lab_dynamic_logo_{{session.get('language')}}.png" alt= "{{content.get('navbar_logo_alt')}}" /></div><!-- /#logo -->
          <div id="flags">
            <a href="/language/de" alt="Deutsch" title="Deutsch">Deutsch</a>
            <a href="/language/en" alt="English" title="English">English</a>
          </div>

          <div id="navigation">
            <ul>
                 <li><a href="/" id="nav-home">{{content.get('navbar_home')}}</a></li>
                 <li><a href="/about" id="nav-about">{{content.get('navbar_about')}}</a></li>
                 <li><a href="/contact" id="nav-contact">{{content.get('navbar_contact')}}</a></li>
            </ul>

          </div><!-- /#navigation -->
        </div><!-- /#head-wrap -->
    </div><!-- /#header -->
         
    {% block body %}{% endblock %}

    <div id="footer" class="box">
      <div class="content-wrap">
        <p>{{content.get('footer_text')|safe}}. 
          <a href="#"><img src="/static/img/fb_icon.png" alt="Facebook" /></a> 
          <a href="#"><img src="/static/img/tw_icon.png" alt="Twitter" /></a> 
        </p>
      </div><!-- /.content-wrap -->
    </div><!-- /#footer -->
      
</div><!-- /#wrap -->
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/libs/jquery-1.7.2.min.js')}}"><\/script>')</script>
  <script src="{{ url_for('static', filename='js/source.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}?v=0.4"></script>



  {% block scripts %}{% endblock %}
  <script>
    var _gaq=[['_setAccount','UA-32677215-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>

</body>
</html>